.techList{
    background-color: #212529;
    border-radius: 4px;
    width: 95vw;
    padding-top: 22px;
    padding-bottom: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


@media (min-width: 640px) {

    .techList{
        width: 55vw;  
    }
}