.sectionCadastro{
    height: 600px;

}

.cadastroFormArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 296px;
  background: #212529;
  border-radius: 3.20867px;
}
.cadastro {
  font-weight: 700;
  font-size: 15px;
  color: #f8f9fa;

  margin-top: 42px;
  margin-bottom: 22px;
}
.cadastrar{
    width: 259.9px;
    height: 38.5px;
    background: #ff577f;
    border: none;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    color: #ffffff;
    cursor: pointer;
    margin-bottom: 20px;
}
.topoPag {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.logoCadastro {
  width: 97.59px;
  height: 16.9px;
}
.voltarBnt {
  width: 79.54px;
  height: 31.95px;
  background: #212529;
  border-radius: 4px;
  font-weight: 600;
  font-size: 10px;
  font-family: Inter;
  color: #f8f9fa;
  border: none;
  cursor: pointer;

}

.infos{
    font-weight: 600;
    font-size: 12px;  
    color: #858d96;
    margin-bottom: 22px;
}

#selectModulo {
  width: 265px;
}
@media (min-width: 420px) {
  .cadastroFormArea {
    width: 390px;
  }
  #selectModulo {
    width: 350px;
  }
  .cadastro {
    font-size: 21px;
  }
  .infos{
    font-size: 14px; 
  }
  .cadastrar{
    margin-top: 10px;
    width: 344px;
    height: 48px;
    font-size: 16px;
  }
 
}
@media (min-height: 805px) {
    .sectionCadastro{
        height: 100%
    
    }
}
